* {
    font-family: 'Albert Sans', sans-serif;
}

/* HEADER STYLES */
header {
    background-color: #dcdfe6;
    background-image: linear-gradient(45deg, whitesmoke, #c9cfdd);
    margin-bottom: 30px;
    border-bottom: 1px solid #12244d;
}

header h1 {
    padding: 60px;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
}

/* CARD STYLES */
.card {
    border-radius: 0;
    box-shadow: 3px 3px 4px;
    width: 19rem;
    background-color: #dcdfe6;
}

.card-body {
    border-bottom: 1px solid #12244d;
    margin: 0;
    background-color: whitesmoke;
}

/* LINK STYLES */
a {
    color: #12244d;
}

a:visited {
    color: #12244d;
}

a:hover {
    color: #c57008;
    text-decoration: none;
}